.App-intro {
    font-size: large;
}

.hidden {
    display: none;
}

.center{
    text-align: center;
}

#app-practise-diary {
    background: #ECECEC;
}

.title-text-position {
    text-align: left;
}

.description-style {
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}